<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuentas">
 <template>
   <style>
     :host {
       display: block;
       background-color: yellow;
     }
     .col-md-12{
       color:blue;
     }
     .col-md-5{
       color:red;
     }
     .clase3{
       color:#DF0174;
     }
     .clase4{
       color:#58FAF4;
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
   <div class="row">
     <!-- Bootstrap permite indicar el ancho por nº columnas (col-md-5 indica 5 columnas)
     total columnas 12 (que indica el ancho máximo)-->
     <!-- media query -->
     <h1 class="col-md-12">CUENTAS DEL USUARIO</h1>
     <h2 class="col-md-5">Iban {{iban}}</h2>
     <h2 class="col-md-5">Usuario {{user_Id}}</h2>
     <h2 class="col-md-5">Balance {{balance}}</h2>
   </div>
   <template is="dom-repeat" items="{{accounts}}">
    <h3 class="clase3">IBAN - {{item.iban}}</h3>
    <h3 class="clase4">Saldo - {{item.balance}}</h3>
   </template>

       <iron-ajax
      auto=""
      id="getUser"
      url="http://localhost:3000/colapi/v8/users/{{id}}/account"
      handle-as="json"
      on-response="showData">
    </iron-ajax>
 </template>
 <script>
   /**
    * @customElement
    * @polymer
    */
   class VisorCuentas extends Polymer.Element {
     static get is() { return 'visor-cuentas'; }
     static get properties() {
       return {
         id: {
           type: String
         },
         iban: {
           type: String
         },
         user_Id: {
           type: String
         },
         balance: {
           type: String
         },
         accounts: {
           type: Array
         }
       };
     }

     showData(data){
         //console.log(data);
         console.log("Recibidos datos de las Cuentas:");
         // mLab nos devuelve un array con el objeto solicitado por eso [0]
         console.log(data.detail.response[0]);
         console.log(data.detail.response[0].iban);
         console.log(data.detail.response[0].user_Id);
         console.log(data.detail.response[0].balance);

         this.iban = data.detail.response[0].iban;
         this.user_Id = data.detail.response[0].user_Id;
         this.balance = data.detail.response[0].balance;
         this.accounts = data.detail.response;
       }
   }
   window.customElements.define(VisorCuentas.is, VisorCuentas);
 </script>
</dom-module>
