<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
 <template>
   <style>
     :host {
       display: block;
       background-color: green;
     }
     .col-md-12{
       color:red;
     }
     .col-md-5{
       color:yellow;
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
   <div class="row">
     <!-- Bootstrap permite indicar el ancho por nº columnas (col-md-5 indica 5 columnas)
     total columnas 12 (que indica el ancho máximo)-->
     <!-- media query -->
     <h1 class="col-md-12">Usuario</h1></br>
     <h2 class="col-md-5">Soy {{first_name}} {{last_name}}</h2><br>
     <h2 class="col-md-5">y mi email es {{email}}</h2>
     <button class="btn btn-link">
       <a href="http://localhost:3000/colapi/v8/users/{{id}}/account">Ver mis cuentas</a>
     </button>
   </div>
   <button class="btn btn-success">Login</button>
   <button class="btn btn-warning">Logout</button>
   <button class="btn btn-info">Info</button>
   <button class="btn btn-danger">Danger</button>

    <iron-ajax
      auto=""
      id="getUser"
      url="http://localhost:3000/colapi/v8/users/{{id}}"
      handle-as="json"
      on-response="showData">
    </iron-ajax>
 </template>
 <script>
   /**
    * @customElement
    * @polymer
    */
   class VisorUsuario extends Polymer.Element {
     static get is() { return 'visor-usuario'; }
     static get properties() {
       return {
         id: {
           type: String
         },
         first_name: {
           type: String
         },
         last_name: {
           type: String
         },
         email: {
           type: String
         }
       };
     }

     showData(data){
         //console.log(data);
         console.log("Recibidos datos del usuarios:");
         // mLab nos devuelve un array con el objeto solicitado por eso [0]
         console.log(data.detail.response[0]);
         console.log(data.detail.response[0].id);
         console.log(data.detail.response[0].first_name);
         console.log(data.detail.response[0].last_name);
         console.log(data.detail.response[0].email);


         this.id = data.detail.response[0].id;
         this.first_name = data.detail.response[0].first_name;
         this.last_name = data.detail.response[0].last_name;
         this.email = data.detail.response[0].email;
       }
   }
   window.customElements.define(VisorUsuario.is, VisorUsuario);
 </script>
</dom-module>
