<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/demo-emisor.html">
<link rel="import" href="/src/demo-receptor.html">

<dom-module id="demo-padre">
  <template>
    <style>
      :host {
        display: block;
        color:blue;
      }
    </style>
    <h1>Estamos en Padre...</h1>
    <demo-emisor id="emisor"></demo-emisor>
    <demo-receptor id="receptor"></demo-receptor>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class demoPadre extends Polymer.Element {
      static get is() { return 'demo-padre'; }
      ready(){
        super.ready();
        this.$.emisor.addEventListener('loginOk', e => {this.procesarLogin(e)});
      }
      static get properties() {
        return {
        };
      }
      procesarLogin(e){
        console.log("Padre:"+ e.detail);
        this.$.receptor.mostrarDatosRecibidos(e.detail);
      }
    }
    window.customElements.define(demoPadre.is, demoPadre);
  </script>
</dom-module>
