<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="componente-dos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>UNO [[prop1]]!</h2>
    <h2>DOS {{prop2}}</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class Componentedos extends Polymer.Element {
      static get is() { return 'componente-dos'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Numero'
          },
          prop2: {
            type: Number,
            value: 7777777
          }
        };
      }
    }

    window.customElements.define(Componentedos.is, Componentedos);
  </script>
</dom-module>
